<link rel="stylesheet" href="/static/admin/markdown-split.css?v=3" />
<script src="/static/admin/vendor/codemirror/codemirror.min.js" defer></script>
<script src="/static/admin/vendor/codemirror/overlay.min.js" defer></script>
<script src="/static/admin/vendor/codemirror/markdown.min.js" defer></script>
<script src="/static/admin/vendor/codemirror/gfm.min.js" defer></script>
<script src="/static/admin/vendor/marked/marked.min.js" defer></script>
<script src="/static/admin/vendor/dompurify/purify.min.js" defer></script>
<script src="/static/admin/markdown-split.js?v=3" defer></script>
